
<div id="login-component">
  <div class="container-fluid">
    <div class="row">
      <div class="column column-4 no-padding">
        <app-about></app-about>
      </div>
      <div class="column column-8 no-padding">
        <form (submit)="submit()">
          <h2 class="mat-title">Please sign in</h2>
          <div class="form-errors">
            <p *ngFor="let error of errors">
              {{ error.detail }}
            </p>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Email address</mat-label>
              <input type="email" [(ngModel)]="credentials.email" name="email" matInput autofocus>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password" [(ngModel)]="credentials.password" name="password" matInput>
              <mat-hint>
                <a routerLink="/reset-password">Forgot password?</a>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">
            <button type="submit" mat-raised-button color="primary" [disabled]="loading">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
