<div id="start-component">
  <div class="container-fluid">
    <div class="row">
      <div class="column column-4 no-padding">
        <app-about></app-about>
      </div>
      <div class="column column-8 no-padding">
        <form>
          <h2 class="mat-title" i18n>Start using Open Timesheet today</h2>
          <div class="form-group">
            <mat-form-field>
              <mat-label i18n>First name</mat-label>
              <input type="text" matInput autofocus i18n-placeholder placeholder="Enter your first name">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label i18n>Last name</mat-label>
              <input type="text" matInput autofocus i18n-placeholder placeholder="Enter your last name">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label i18n>Email address</mat-label>
              <input type="email" matInput autofocus i18n-placeholder placeholder="Enter your email address">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label i18n>Password</mat-label>
              <input type="password" matInput autofocus i18n-placeholder placeholder="Enter your password">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label i18n>Confirm password</mat-label>
              <input type="password" matInput autofocus i18n-placeholder placeholder="Enter your password again">
            </mat-form-field>
          </div>
          <div class="form-group">
            <button type="submit" mat-raised-button color="primary" i18n>Create my account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
