<div id="start-component">
  <div class="container-fluid">
    <div class="row">
      <div class="column column-4 no-padding">
        <app-about></app-about>
      </div>
      <div class="column column-8 no-padding">
        <form>
          <h2 class="mat-title">{{ 'TITLE.START_USING_TODAY'|translate }}</h2>
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{ 'LABEL.FIRST_NAME'|translate }}</mat-label>
              <input type="text" matInput [placeholder]="'PLACEHOLDER.FIRST_NAME'|translate">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{ 'LABEL.LAST_NAME'|translate }}</mat-label>
              <input type="text" matInput [placeholder]="'PLACEHOLDER.LAST_NAME'|translate">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{ 'LABEL.EMAIL_ADDRESS'|translate }}</mat-label>
              <input type="email" matInput [placeholder]="'PLACEHOLDER.EMAIL_ADDRESS'|translate">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{ 'LABEL.PASSWORD'|translate }}</mat-label>
              <input type="password" matInput [placeholder]="'PLACEHOLDER.PASSWORD'|translate">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{ 'LABEL.CONFIRM_PASSWORD'|translate }}</mat-label>
              <input type="password" matInput [placeholder]="'PLACEHOLDER.CONFIRM_PASSWORD'|translate">
            </mat-form-field>
          </div>
          <div class="form-group">
            <button type="submit" mat-raised-button color="primary">{{ 'BUTTON.CREATE_MY_ACCOUNT'|translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
