@import "src/theme/core";

mat-nav-list {
  width: 280px;

  mat-icon {
    margin-right: 1rem;
  }

  &.collapsed {
    width: auto;

    mat-icon {
      margin-right: 0;
    }
  }
}

.mat-list-item {
  color: mat-color($opentimesheet-primary);

  &.active {
    color: #fff;
    background-color: mat-color($opentimesheet-primary);
  }
}
