@import "src/theme/core";

mat-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  height: $navbar-height;
  background-color: #fff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

span {
  margin-left: .5rem;
}

h1 {
  font-weight: 800;
}

.home-link {
  text-decoration: none;
}

.toggle-button {
  margin-right: .5rem;
}
