@import "src/theme/core";

mat-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  height: $navbar-height;
}

.toggle-button {
  margin-right: .5rem;
}

mat-icon {
  margin-right: .8rem;
}
